.hero-container {
  position: relative;
}

.eng-hero-img {
  max-height: 400px;
  overflow: hidden;
  background-color: rgb(255, 170, 170);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.eng-hero-img img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.5s;
}

.eng-hero-img:hover img {
  opacity: 1;
}

.coil-hero-img {
  max-height: 400px;
  overflow: hidden;
  background-color: rgb(255, 170, 170);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.coil-hero-img img {
  max-width: 100%;
  opacity: 0.5;
  transition: 0.5s;
}

.coil-hero-img:hover img {
  opacity: 1;
}

.engineering-text {
  width: 100%;
  transition: 0.5s;
  max-height: 250px;
  position: absolute;
  left: 0;
  top: 80%;
  bottom: 0;
  right: 75%;
  z-index: 998;
  text-shadow: 0 0 5px rgb(118, 118, 118);
}

.coilover-text {
  width: 100%;
  transition: 0.5s;
  max-height: 250px;
  position: absolute;
  left: 0;
  top: 80%;
  bottom: 0;
  right: 75%;
  z-index: 999;
  text-shadow: 0 0 5px rgb(118, 118, 118);
}

.hero-logo {
  max-height: 250px;
}

.hero-logo img {
  max-height: 250px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 997;
}

@media screen and (max-width: 768px) {
  .eng-hero-img {
    max-height: 200px;
  }

  .coil-hero-img {
    max-height: 200px;
  }

  .desktop-text {
    display: none;
  }
}
